<div class="center">
    <div>
        <mat-form-field class="w80">
            <mat-label>Select a component</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
                <mat-option *ngFor="let component of components" [value]="component.value">
                    {{component.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button class="w80 h40" mat-raised-button color="primary" (click)="addComponent(selectedValue)">Dynamically Add Component</button>
    </div>
</div>
<div>
    <div #container></div>
</div>
